*{
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0%;
  padding: 0%;
}
.ranking{
     height: 60vh;
     max-width: 580px;
     width: 90%;
     margin: 5% auto;
     background-image: url("../../utils/images/bgRanking.png");
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 5%;

}

#lista-pontos{
    color: #000;
    height: 50vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding-top: 1%;
    overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}

.ranking #titulo{
    font-weight: 700;
    display: flex;
    margin: 2px;

    
}

.area-total-lista {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "area-posicao area-nome area-pontos";
    padding: 0.5%;
}
  
  .area-posicao {  padding: auto; margin: auto; grid-area: area-posicao; }
  
  .area-nome { width: 20vh; padding: 0; margin: 0; grid-area: area-nome;}
  
  .area-pontos {  padding: auto; margin: auto; grid-area: area-pontos; }
  
  